:root {
  --backgroung-primary-color: #f9f7fe;
  --primary-font-family: Playfair Display;
  --secondary-font-family: poppins;
  --primary-text-align: center;
  --title-primary-color: black;
  --title-secondary-color: #272142;
}

img {
  border: 15px solid #f9f7fe;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.hero {
  text-align: center;
  background-color: var(--backgroung-primary-color);
  padding-bottom: 25px;
}

.hero p {
  font-size: 36px;
  font-weight: bolder;
  color: var(--title-secondary-color);
  font-family: var(--secondary-font-family);
  padding-top: 150px;
}
.hero h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--primary-font-family);
  color: var(--title-primary-color);
}
.hero h2 {
  font-family: var(--primary-font-family);
  font-weight: bolder;
  color: #272142;
}
.hero a {
  background: #6c63ff;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  color: white;
  border-radius: 4px;
  line-height: 27px;
  text-decoration: none;
}

.yogurt-heading {
  font-weight: bold;
  font-family: var(--primary-font-family);
}
.weather-heading {
  font-weight: bold;
  font-family: var(--primary-font-family);
}
.dictionary-heading {
  font-weight: bold;
  font-family: var(--primary-font-family);
}
.container a {
  border: 1px solid #6c63ff;
  font-family: var(--secondary-font-family);
  font-size: 16px;
  color: #6c63ff;
  border-radius: 4px;
  line-height: 27px;
  text-decoration: none;
}
.container p {
  opacity: 0.8;
}

@media (max-width: 412px) {
  .container {
    text-align: center;
  }
  .hero h1 {
    font-size: 42px;
  }
  .hero p {
    font-size: 22px;
    padding-top: 35px;
  }
  .hero h2 {
    font-size: 22px;
  }
  .col-md-6 {
    padding-top: 5px;
  }
}
