:root {
  --primary-color: #734cd6;
  --primary-font-family: Playfair Display;
  --secondary-font-family: poppins;
  --primary-text-align: center;
  --title-primary-color: black;
  --title-secondary-color: #272142;
}

.hero {
  text-align: center;
}

.hero p {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  font-family: var(--secondary-font-family);
  color: #272142;
  padding-top: 150px;
}
.hero h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--primary-font-family);
}
.hero h2 {
  font-family: var(--primary-font-family);
  font-weight: bolder;
  color: #272142;
}
.hero a {
  background: #6c63ff;
  font-family: poppins;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  line-height: 27px;
  padding: 18px 46px;
  text-decoration: none;
}
